APP_ENV=production
APP_URL=https://finanzas.germanmallo.com
APP_TIMEZONE=Europe/Madrid

DB_DRIVER=sqlite
DB_SQLITE_PATH=
DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

AUTH_EMAIL=
AUTH_PASSWORD_HASH=

